@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}